@import url(https://fonts.googleapis.com/css?family=Red+Hat+Text:300,regular,500,600,700,300italic,italic,500italic,600italic,700italic);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
  --Very-very-dark-blue: hsl(234, 17%, 12%);
}
body{
  font-family: 'Red+Hat+Text',sans-serif;
  font-size: 14px;
}
.App{
  max-width: 1440px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  background-image: url('/public/images/bg-stars.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color:var(--Dark-blue); 
}
.header{
  height: 30vh;
  width: 100%;
  color: var(--White);
  letter-spacing: 3px;
  display: flex;
  align-items: center;
 justify-content: center;
}
.footer{
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/public/images/pattern-hills.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .icons{
margin-right: 2rem;
margin-top: 3rem;
cursor: pointer;
border:3px solid transparent;
transition: all 0.3s ease-in-out;
}

.footer .icons:hover{
  border:3px solid var(--Soft-red);
  background-color: var(--Soft-red);
}
